@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-athiti), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 6 90% 99%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.perspective {
  perspective: 1000px;
}

.text-shadow {
  text-shadow: 0 -1px 1px #35e612, 0 -2px 0 #bfe4b8, 0 15px 10px #1212124b,
    0 0px 50px rgba(0, 0, 0, 0.575);
}

h1,
h2 {
  font-family: var(--font-paytone-one);
}

strong {
  font-weight: 600;
  opacity: 0.85;
}

.parralelogram {
  clip-path: polygon(14% 0, 100% 0%, 100% 100%, 0 100%);
}

@media (max-width: 768px) {
  .parralelogram {
    clip-path: polygon(0 14%, 100% 0%, 100% 100%, 0 100%);
  }
}

.hexa {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

body::-webkit-scrollbar {
  width: 5px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: white;
}

.scrollbar_cuisine::-webkit-scrollbar {
  /* width: 0px; */
  height: 10px;
  background: rgba(245, 242, 82, 0.212);
  border-radius: 10px;
}

.scrollbar_cuisine::-webkit-scrollbar-thumb {
  background: rgba(233, 7, 7, 0.288);

  border-radius: 10px;
}
